@charset "UTF-8";

//========================================================
//mixin
//========================================================

//インラインブロック
@mixin inline-block{
    display: inline-block;
    /* For IE 6/7 */
    *display: inline;
    *zoom: 1;
}

//クリアフィックス
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

//角丸
@mixin radius($value:4){
	border-radius: $value+px;	
}

//透過
@mixin opacity($value:7){
   opacity: $value/10;
}

//ボックスシャドウ
@mixin box-shadow($horizontal:1,$vertical:1,$gradation:3,$opacity:2,$inset:null){
  box-shadow: $horizontal+px $vertical+px $gradation+px rgba(0,0,0,$opacity/10) $inset;
}


//テキストシャドウ
@mixin text-shadow($horizontal:1,$vertical:1,$gradation:0,$color:#000){
	text-shadow:$horizontal+px $vertical+px $gradation+px $color; 
}

//グラデーション
@mixin gradation-vertical($top,$bottom){
  background: $bottom;
  background: linear-gradient($top, $bottom);
}

@mixin gradation-horizontal($left,$right){
  background: $left;
  background: linear-gradient(left,$left, $right);
}

//アニメーション
@mixin transition($time:0.4s){
    transition: $time;
}
