@charset "UTF-8";

/* =========================================================
import
========================================================= */

@import "_mixin.scss";
@import "_reset.scss";
@import "bootstrap/_functions.scss";
@import "bootstrap/_variables.scss";


//========================================================
//setting
//========================================================
//メインカラー
$brand-color:#F17D9E;
$sub-color:#7F2B52;
$bg-color:#F9F4EF;

//ベースフォント
$base-font:"游ゴシック", YuGothic,'Noto Sans Japanese',Verdana,"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN","メイリオ", Meiryo,sans-serif;
$serif-font:"Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
$title-font:"Rounded Mplus 1c","游ゴシック", YuGothic,'Noto Sans Japanese',Verdana,"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN","メイリオ", Meiryo,sans-serif;

//ベースフォントサイズ
$font-size:1.8rem;

//行間
$line-height:1.8;

//ベースフォントカラー
$font-color:#4D4D4D;


//========================================================
//media query
//========================================================

$xs : map-get($grid-breakpoints, xs);
$sm : map-get($grid-breakpoints, sm);
$md : map-get($grid-breakpoints, md);
$lg : map-get($grid-breakpoints, lg);
$xl : map-get($grid-breakpoints, xl);
$lg : map-get($grid-breakpoints, lg);


//レスポンシブのブレイクポイント
$xs-max:"(max-width: #{$xs}-1)";
$sm-max:"(max-width: #{$sm}-1)";
$md-max:"(max-width: #{$md}-1)";
$lg-max:"(max-width: #{$lg}-1)";
$xl-max:"(max-width: #{$xl}-1)";

$xs-min:"(min-width: #{$xs})";
$sm-min:"(min-width: #{$sm})";
$md-min:"(min-width: #{$md})";
$lg-min:"(min-width: #{$lg})";
$xl-min:"(min-width: #{$xl})";

/* =========================================================
grid_setting
========================================================= */

@media #{$sm-max} {
	*[class*="col-"]{
		padding-right: floor(($grid-gutter-width / 2) / 2);
		padding-left: ceil(($grid-gutter-width / 2) / 2);
	}	
	.row{
		margin-right: 1-(floor(($grid-gutter-width / 2) / 2));
		margin-left: 1-(ceil(($grid-gutter-width / 2) / 2));
	}	
}

.maxHeight{
	height: 100%;
}

.Vcenter{
	align-items: center; /*上下中央*/
	-webkit-align-items: center;
}

.noGutter{
	margin-right: 0;
	margin-left: 0;
	*[class*="col-"]{
		padding-left: 0;
		padding-right: 0;
	}
}

/* =========================================================
start
========================================================= */
html{
	font-size: 62.5%; /*10px*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
	font-family: $base-font;
	font-size:$font-size;
	line-height:$line-height;
	color: $font-color;

}

a { color:$font-color; text-decoration: none;}
a:link    { color:$font-color;}
a:visited { color:$font-color;}
a:hover   { color:$brand-color;}
a:active  { color:$brand-color;}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


img{
	max-width: 100%;
	height: auto;
}
.fa{
	margin-right: 0.5rem;
}

/* =========================================================
layout
========================================================= */
main{
	p,figure{
		margin-top: 2rem;
	}
	table,dl{
		margin-top: 3rem;
	}
	figcaption{
		margin-top: 1rem;
	}

}

.logo{
	padding-top: 150px;
	background: url(../images/common/reborn.svg) no-repeat center bottom;
	text-align: center;
	@media #{$md-max} {
		background: url(../images/common/ribbon_sp.svg) no-repeat center bottom 10%;
		background-size: 100% auto;
		padding-top: 30vw;
		img{
			width: 80px;
		}
	}
}

.home .logo{
	padding-top: 390px;	
	@media #{$md-max} {
		padding-top: 50vw;
	}
}

.keyvisual{
	background-position: center top;
	background-repeat: no-repeat;
	@media #{$md-max} {
		background-size: auto 40vw;
	}
	&_onObj{
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
	}
	&_catch{

		@media #{$sm-max} {
			margin-top: 3rem;
			margin-left: 0-$grid-gutter-width / 2;
		}
		img{
			@media #{$sm-min} {
				margin-left: 10%;
			}
		}
	}
}

.home .keyvisual{
	@media #{$md-max} {
		background-size: auto 60vw;
	}
}


.glovalNav{
	margin-top: 3rem;
	@media #{$lg-min} {
		>ul{
			display: table;
			width: 100%;
			>li{
				line-height: 1.5;
				font-weight: bold;
				font-size: 1.8rem;
				text-align: center;
				display: table-cell;
				>a{
					//transition:0.3s;	
					position: relative;
					padding: 1rem;
					text-decoration: none;
					display: block;
					small{
						font-weight: normal;
						color: $brand-color;
						font-size: 1.2rem;
						display: block;
						font-family: $title-font;
					}
					.fa-home{
						margin-right: 0;
					}
					&:after{
						position: absolute;
						content: "▲";
						bottom:0;
						line-height: 0;
						left: 48%;
						color: $bg-color !important;
						visibility: hidden;
						opacity: 0;
					}
				}
				&.current{
					>a{
						color: $brand-color;
						&:after{
							color: $bg-color;
						}
					}
				}
				&+li >a{
					padding-left: 2rem;
					&:before{
						position: absolute;
						left: 0;
						top: 50%;
						margin-top: -10px;
						content: url(../images/common/nav_separate.svg);
					}
				}
				ul{
					transition:0.3s;
					visibility: hidden;
					opacity: 0;
					left: 0;
					text-align: center;
					border-radius: 5px;
					width: 100%;
					background: $bg-color;
					position: absolute;
					li{
						font-size: 1.6rem;
						padding-top: 1.7rem;
						padding-bottom: 1.7rem;
						display: inline-block;
						font-weight: normal;
						.fa{
							display: none;
						}
						a{
							color: $sub-color;
						}
						&+li:before{
							margin-right: 1rem;
							content: "｜";
						}

					}
				}
				&.havechild:hover,&.havechild.current{
					>a:after{
						opacity: 1;
						visibility: visible;
					}
					ul{
						opacity: 1;
						z-index: 10;
						visibility: visible;
					}
				}

			}
		}
	}
	@media #{$lg-max}{
		ul{
			>li{
				font-size: 1.8rem;
				>a{
					position: relative;
					border-bottom: 1px solid #FFF;
					padding: 1rem 0;
					display: block;
					color: #FFF;
				}
				small{
					margin-left: 0.5rem;
					font-size: 1rem;
				}
				.fa-angle-down,.fa-angle-right{
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -0.9rem;
				}

				>ul{
					li{
						a{
							border-bottom: 1px dotted $sub-color;
							color: $sub-color;

						}
						&:last-child a{
							border-bottom: 1px solid #FFF;
						}
					}
				}
			}
			ul{
				display: none;
			}			
		}
	}
}

.spNav{
	@media #{$lg-max} {
		display: none;
		z-index: 10;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: $brand-color;
	}
}

.spNavbutton{
	position: absolute;
	right: $grid-gutter-width / 2;
	top: 0;
	>*{
		margin-top: 10px;
		margin-left: 10px;
		float: right;
	}
}

.bannerList{
	margin-top: 5rem;
	align-items: center; /*上下中央*/
	-webkit-align-items: center;
	li{
		width: 100%;
		display: table;
		line-height: 1.4;
		font-size: 1.8rem;
		margin-top: 2rem;
			&:before{
				height: 100%;
				z-index: 0;
				bottom: -0.8rem;
				left:7%;
				content: "";
				display: block;
				position: absolute;
				width: 86%;
				text-align: center;
				border-radius:5px;
				background: $brand-color;
			}
		a{
			width: 100%;
			vertical-align: middle;
			height: 100px;
			z-index: 1;
			background: #FFF;
			position: relative;
			padding: 2rem;
			display: table-cell;
			border: 1px solid $brand-color;
			border-radius: 5px;
			&:after{
				line-height: 1;
				font-family: 'FontAwesome';
				top: 50%;
				color: $brand-color;
				margin-top: -0.8rem;
				right: 5%;
				position: absolute;
				content:"\f105";
			}

			.icon{
				margin-right: 1rem;
				float: left;
				font-size: 3rem;
				color: $brand-color;
			}
		}
		@media #{$md-max} {
			font-size: 2rem;
		}
	}
}

.navButton{
	border-radius: 4px;
	display: table-cell;
	vertical-align: middle;
	padding: 0;
	background: $brand-color;
	color: #FFF;
	border: none;
	line-height: 1;
	font-size: 1rem;
	width: 52px;
	text-align: center;
	height: 52px;
	&:link,&:visited,&:hover,&:active{
		color: #FFF;
	}
	.fa{
		margin-right: 0;
		font-size: 3rem;
	}
	span{
		margin-top: 3px;
		display: block;
	}
	&.white{
		background:#FFF;
		color: $brand-color;
	}
}

.glovalFooter{
	font-size: 1.6rem;
}

.footerNav{
	margin-top: 2rem;
	text-align: center;
	li{
		margin-top: 1rem;
		padding-right: 1rem;
		padding-left: 1rem;
		display: inline-block;
		a{
			&:before{
				font-family:'FontAwesome';
				content:"\f105";
				color: $brand-color;
				margin-right: 0.5rem;
			}
		}
	}
}
.copyright{
	font-size: 1.4rem;
	color: darken($brand-color,25%);
	display: block;
	padding: 4rem 0;
	font-family: $title-font;
}

.newsList{
	dt{
		color: $sub-color;
		padding-top: 1rem;
	}
	dd{
		border-bottom: 1px dotted $brand-color;
		padding-bottom: 1rem;
		a{
			display: inline-block;
			text-indent: -0.8em;
			margin-left: 1em;
			&:before{
				font-family:'FontAwesome';
				content:"\f105";
				color: $sub-color;
				margin-right: 0.5rem;
			}

		}
	}
	@media #{$md-min} {
		dt{
			padding-bottom: 1rem;
			float: left;
			left: left;
			width: 90px;

		}
		dd{
			padding-top: 1rem;
			padding-left: 100px;
		}
	}
}

.pageTitle{
	margin-top: 4rem;
	position: relative;
	line-height: 1.4;
	text-align: center;
	font-size: 4.2rem;
	font-weight: normal;
	color: $sub-color;
	&:before{
		z-index: 0;
		position: absolute;
		width: 100%;
		left: 0;
		top: 50%;
		content: "";
		display: block;
		height: 1px;
		background: #DDD;
	}
	small{
		font-family: $title-font;
		display: block;
		font-size: 1.4rem;
		color: $brand-color;
	}
	span{
		position: relative;
		z-index: 1;
		background: #FFF;
		display: inline-block;
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

.entryHeader{
		margin-top: 3rem;
	@media #{$lg-max} {
		margin-top: 3rem !important;
	}
}


.breadclumbs{
	font-size: 1.4rem;
	text-align: right;
	li{
		;line-height: 1.4;
		display: inline-block;
		&+li{
			margin-left: 1rem;
			padding-left: 1rem;
			border-left: 1px solid #DDD;
		}
		a{
			color: #DDD;
		}
	}
}

.entryContents{
	ul,ol,figure{
		margin-top: 2rem;
	}
}

.headline{
	&1{
		font-size: 2.8rem;
		text-align: center;
		margin-top: 7rem;
		&:after{
			display: block;
			content: "";
			width:60px;
			margin-right: auto;
			margin-left: auto; 
			height: 3px;
			margin-top: 0.5rem;
			background: $brand-color;
			font-weight: bold;
		}
	}
	&2{
		margin-top: 5rem;
		font-size: 2.4rem;
		padding: 1rem 0;
		border-top: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		&:first-letter{
			color:$brand-color;
		}
	}
	&3{
		line-height: 1.6;
		margin-top: 3.5rem;
		font-size: 2.2rem;
		color: $sub-color;
		border-left: $sub-color 3px solid;
		padding-left: 10px;
	}
	&4{
		display: inline-block;
		padding-bottom: 0.5rem;
		margin-top: 2rem;
		color: $brand-color;
		border-bottom: 1px dotted $brand-color;
	}
}

.lead{
	&1{
		margin-top: 3.5rem;
		font-size: 2.6rem;
		color: $brand-color;
		line-height: 1.6;
		font-weight: normal;
	}
}

.homeHeadline{
	&1{
		line-height: 1.4;
		text-align: center;
		font-size: 3.8rem;
		font-weight: normal;
		margin-top: 2rem;
		font-family: $title-font;
		.en{
			display: block;
			color: $brand-color;
			font-size: 1.2rem;
		}
		&-inner{
			display: inline-block;
			position: relative;
			&:before{
				position: absolute;
				content: url(../images/common/headline_left.svg);
				left: -130px;
				top: 50%;
				margin-top: -20px;
			}
			&:after{
				position: absolute;
				content: url(../images/common/headline_right.svg);
				right: -130px;
				top: 50%;
				margin-top: -20px;

			}
		}
	}
	&2{
		font-size: 2.2rem;
		line-height: 1.5;
		margin-top: 3rem;
	}
	&3{
		line-height: 1.5;
		margin-top: 4rem;
		font-weight: normal;
		font-size: 3.8rem;
		color: #FFF;
		font-family: $title-font;
		small{
			padding-bottom: 1rem;
			display: block;
			font-size: 1.2rem;
		}
	}

	&5{
		color: #FFF;
		margin-top: 3rem;
		display: inline-block;
		padding-bottom: 0.5rem;
		text-align: center;
		font-size: 1.8rem;
		border-bottom: 3px double #FFF;
		span{

		}
	}
	&6{
		margin-top: 1rem;
		color: #FFF;
	}
}

.listNav{
	li{
		float: left;
		margin-right: 2rem;
	}
}

.bg{
	&1{
		background: rgba($brand-color,0.1);
	}
	&2{
		border-radius: 3px;
		background: $bg-color;
	}
	&3{
		background: $brand-color; /* Old browsers */
		background: -moz-linear-gradient(left, $brand-color 0%, lighten($brand-color,10%) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, $brand-color 0%,lighten($brand-color,10%) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, $brand-color 0%,lighten($brand-color,10%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-color', endColorstr='lighten($brand-color,10%)',GradientType=1 ); /* IE6-9 */
	}
}

.section{
	&1{
		margin-top: 7rem;
	}
	&2{
		padding-bottom: 5rem;
	}
}


.space{
	&1{
		padding-bottom: 5rem;
		padding-left: 5rem;
		padding-right: 5rem;
		@media #{$sm-max} {
			padding-bottom: $grid-gutter-width / 2;;
			padding-left: $grid-gutter-width / 2;;
			padding-right: $grid-gutter-width / 2;;
		}

	}
	&2{
		padding-bottom: 3rem;
		padding-left: 3rem;
		padding-right: 3rem;
		@media #{$sm-max} {
			padding-bottom: $grid-gutter-width / 2;;
			padding-left: $grid-gutter-width / 2;;
			padding-right: $grid-gutter-width / 2;;
		}
	}
}

.column{
	&1{
		margin-top: 7rem;
		padding: 0 3rem 3rem;
		border: 1px solid $brand-color;
		border-radius: 5px;
		&_headline{
			font-weight: bold;
			font-size: 2.2rem;
			margin-top: -2rem;
			text-align: center;
			span{
				display: inline-block;
				background: #FFF;
				padding-right: 2rem;
				padding-left: 2rem;
			}
		}
	}
	&2{
		padding: 0 3rem 3rem;
		@include clearfix();
		background: $bg-color;
		margin-top: 7rem;
		border-radius: 5px;
		&_headline{
			margin-top: 3rem;
			font-weight: bold;
			color: $sub-color;
			font-size: 2.2rem;
			text-align: center;
			span{
				padding-bottom: 1rem;
				border-bottom: 1px dotted $sub-color;
				display: inline-block;				
			}
		}		
	}
}



.highlight{
	&1{
		color: $brand-color;
	}
	&2{	
		background: linear-gradient(to bottom,transparent 65%, rgba($brand-color,0.5) 65%,rgba($brand-color,0.5) 90% ,transparent 0%);	
	}
	&3{
		font-weight: bold;
		padding: 0.7rem 1rem;
		border-radius: 3px;
		background: rgba($brand-color,0.5);
	}
}
	
/* リンクボタン */	
.btn{
	text-decoration:none;
	display:inline-block;
    @include transition();
	&:hover{
		opacity: 0.7;
	}
	&-brand{
		background: $brand-color;
		color: #FFF;
		border-radius: 3px;
		padding: 0.8rem 2.5rem;
		&:link,&:visited,&:hover,&:active{
			color: #FFF;
		}
	}
	&-white{
		border: 1px solid $brand-color;
		background: #FFF;
		border-radius: 5px;
		padding: 0.8rem 2.5rem;
			&:link,&:visited,&:hover,&:active{
			}
			.fa{
				color: $brand-color;
			}
	}
	&-subcolor{
		border-radius: 5px;
		padding: 0.8rem 2.5rem;
		background: $sub-color;
		color: #FFF;
	}
	&-fullwidth{
		text-align: center;
		width: 100%;
	}
	&-close{
		padding: 0.8rem 2.5rem;
		width: 100%;
		text-align: center;
		border-top: 1px solid #FFF;
		color: #FFF;
		font-weight: bold;
	}
	&-notopradius{
		border-top-left-radius:0;
		border-top-right-radius:0;
	}
}

/* リンクボタン */	
.linkSt{
	&1{
		a{
			text-decoration: underline;
			&:hover,&:active{
				text-decoration: none;
			}
		}
		.fa{
			color: #FFF;
		}
	} 

}

.thumbnail{
	border-radius: 5px;
}

/* リスト */
.ulList{
	li{
		background: url(../images/common/listicon.svg) no-repeat left 0.6em;
		padding-left: 15px;
		ul{
			margin-top: 0;
			li{
				background: url(../images/common/listicon2.svg) no-repeat left 0.6em;
			}
		}
	}
}

/* 番号リスト */
.olList{
  counter-reset: li;
}

.olList > li {
  position: relative;
  margin-left:1.5em;
	&:before {
		line-height: 1.6;
	  content: counter(li);
	  counter-increment: li;
	  position: absolute;
	  left: -2em;
	  width: 1.5em;
	  background: $brand-color;
	  color: #FFF;
	  font-size: 1.4rem;
	  border-radius: 3px;
	  text-align: center;
	}
	li:before {
	  content: "";
	}
}

.table{
    width: 100%;
	&1{
		border: 1px solid $sub-color;
		thead th{
			text-align: center;
			padding: 1rem;
			background: $sub-color;
			color: #FFF;
			border: none;
		}
		th{
			vertical-align: middle;
			text-align: center;
			background: lighten($brand-color,25%);
			padding: 1rem;
			border-bottom: 1px dotted $brand-color;
		}
		td{
			vertical-align: middle;
			text-align: center;
			border: 1px dotted $brand-color;
			padding: 1rem;
		}
		tr:first-child td{
			border-top:none;
		}		
	}
	&2{
		th{
			padding-right: 1rem;
			white-space: nowrap;
			font-weight: normal;
			text-align: left;
			color: $sub-color;
		}		
	}
	&3{
		width: auto;
		margin-right: auto;
		margin-left: auto;
		th{
			padding-right: 1rem;
			color: #FFF;
		}
		td{
			padding-right: 1rem;			
		}
	}
}


.table-row{
	width: 100%;
	@media #{$md-max} {
		th,td{
			display: block;
		}
		&.table1{
			td{
				border: none;
			}
		}
	}

}


/* テーブルの設定 */	
.tableRow{
	width:100%;
	@media #{$sm-max}{
		th,td{
			display: block;
		}
	}
}


.parentBox{
	position: relative;
}



/* =========================================================
area style
========================================================= */

.nurseArea{
	z-index: 3;
	background: url(../images/common/reborn_bg.svg) no-repeat right 30% bottom;
}
.nurse{
	//@media #{$md-min} {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 0;
		@media #{$md-max} {
			img{
				width: 300px;
			}
		}
	//}
}

#map{
	min-height: 300px;
}


/* =========================================================
class
========================================================= */

/* クリアフィックス */
.clearfix{
	@include clearfix();
}

/* マージン設定 */
.mt-none{
	margin-top:0 !important;}

.mt-tiny{
	margin-top:1em !important;}

.mt-small{
	margin-top:1.5em !important;}

.mt-medium{
	margin-top:3em !important;}

.mt-large{
	margin-top:5em !important;}

.mt-fuge{
	margin-top:7em !important;}


/* 連続マージン */	
.list-mt-none > *{
	margin-top:0;}

.list-mt-tiny > *{
	margin-top:1em;}

.list-mt-small > *{
	margin-top:1.5em;}

.list-mt-medium > *{
	margin-top:3em;}

.list-mt-large > *{
	margin-top:5em;}

.list-mt-fuge > *{
	margin-top:7em;}


/* テキスト位置 */	
.text-right{
	text-align:right;}

.text-center{
	text-align:center;}

.text-left{
	text-align:left;}


@media #{$lg-min} {
	.lg-text-right{
		text-align:right !important; }
	.lg-text-center{
		text-align:center !important;}
	.lg-text-left{
		text-align:left !important;}
}

@media #{$md-min} {
	.md-text-right{
		text-align:right !important; }
	.md-text-center{
		text-align:center !important;}
	.md-text-left{
		text-align:left !important;}
}

@media #{$sm-min} {
	.sm-text-right{
		text-align:right !important; }
	.sm-text-center{
		text-align:center !important;}
	.sm-text-left{
		text-align:left !important;}
}
@media #{$xs-min} {
	.xs-text-right{
		text-align:right !important; }
	.xs-text-center{
		text-align:center !important;}
	.xs-text-left{
		text-align:left !important;}
}




/* 太字 */	
.bold{
	font-weight: bold;
}

/* テキストサイズ */
.font-tiny{
	font-size:75%;
}
.font-small{
	font-size:88%;
}
.font-large{
	font-size:120%;
}
.font-huge{
	font-size:140%;
}


/* 透過用ロールオーバー用 */
.hover:hover{
    @include opacity($value:7);
}

/* アニメーションクラス */
.anime:hover{
	@include transition();
}	


/* ※マーク */	
.asterisk{
	display: block;
	margin-left: 1em;
	text-indent: -1em;
	}

.table-row{
	@media #{$sm-max} {
		th,td{
			display: block;
		}
	}	
}

.table-responsive {
	@media #{$sm-max} {	
	    overflow-y: hidden;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
		th,td{
			display: table-cell;
		}
	  > .table > thead > tr > th,
	  > .table > tbody > tr > th,
	  > .table > tfoot > tr > th,
	  > .table > thead > tr > td,
	  > .table > tbody > tr > td,
	  > .table > tfoot > tr > td {
	    white-space: nowrap;
	  }
		&:after{
			font-size: 1.4rem;
			content: "※この表は指で横にスクロールできます";
		}
	}

}



/* 周り込figure */	
.figureR{
	float:right;
	margin:2em 0 0 2rem;
}
.figureL{
	float:left;
	margin:2em 2rem 0 0;
}
.figureR,.figureL{
	display: table;
	width: 1px;
	figcaption{
		font-size: 86%;
		text-align: center;
		margin-top: 0.5em;
	}
	img{
		max-width: inherit;
	}
	@media #{$sm-max}{
		display: block;
		text-align: center;
		width: inherit;
		float: none;
		margin-right: 0;
		margin-left: 0;
	}
}



/* youtubeのレスポンシブ対応 */
.youtube {
  margin-top: 1em;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  iframe {
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 100% !important;
	  height: 100% !important;
	}
}


/* =========================================================
print style
========================================================= */

/* プリント用のスタイル */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; 
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: uderline;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; 
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

}

