@charset "UTF-8";
/* =========================================================
import
========================================================= */
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

img {
  vertical-align: bottom; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul, ul li, ol {
  list-style: none; }

ol ol {
  list-style: decimal inside; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

textarea {
  resize: vertical; }

/* =========================================================
grid_setting
========================================================= */
@media (max-width: 575px) {
  *[class*="col-"] {
    padding-right: 7px;
    padding-left: 8px; }
  .row {
    margin-right: -6px;
    margin-left: -7px; } }

.maxHeight {
  height: 100%; }

.Vcenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*上下中央*/
  -webkit-align-items: center; }

.noGutter {
  margin-right: 0;
  margin-left: 0; }
  .noGutter *[class*="col-"] {
    padding-left: 0;
    padding-right: 0; }

/* =========================================================
start
========================================================= */
html {
  font-size: 62.5%;
  /*10px*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "游ゴシック", YuGothic, "Noto Sans Japanese", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #4D4D4D; }

a {
  color: #4D4D4D;
  text-decoration: none; }

a:link {
  color: #4D4D4D; }

a:visited {
  color: #4D4D4D; }

a:hover {
  color: #F17D9E; }

a:active {
  color: #F17D9E; }

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.fa {
  margin-right: 0.5rem; }

/* =========================================================
layout
========================================================= */
main p, main figure {
  margin-top: 2rem; }

main table, main dl {
  margin-top: 3rem; }

main figcaption {
  margin-top: 1rem; }

.logo {
  padding-top: 150px;
  background: url(../images/common/reborn.svg) no-repeat center bottom;
  text-align: center; }
  @media (max-width: 767px) {
    .logo {
      background: url(../images/common/ribbon_sp.svg) no-repeat center bottom 10%;
      background-size: 100% auto;
      padding-top: 30vw; }
      .logo img {
        width: 80px; } }

.home .logo {
  padding-top: 390px; }
  @media (max-width: 767px) {
    .home .logo {
      padding-top: 50vw; } }

.keyvisual {
  background-position: center top;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .keyvisual {
      background-size: auto 40vw; } }
  .keyvisual_onObj {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
  @media (max-width: 575px) {
    .keyvisual_catch {
      margin-top: 3rem;
      margin-left: -15px; } }
  @media (min-width: 576px) {
    .keyvisual_catch img {
      margin-left: 10%; } }

@media (max-width: 767px) {
  .home .keyvisual {
    background-size: auto 60vw; } }

.glovalNav {
  margin-top: 3rem; }
  @media (min-width: 992px) {
    .glovalNav > ul {
      display: table;
      width: 100%; }
      .glovalNav > ul > li {
        line-height: 1.5;
        font-weight: bold;
        font-size: 1.8rem;
        text-align: center;
        display: table-cell; }
        .glovalNav > ul > li > a {
          position: relative;
          padding: 1rem;
          text-decoration: none;
          display: block; }
          .glovalNav > ul > li > a small {
            font-weight: normal;
            color: #F17D9E;
            font-size: 1.2rem;
            display: block;
            font-family: "Rounded Mplus 1c", "游ゴシック", YuGothic, "Noto Sans Japanese", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; }
          .glovalNav > ul > li > a .fa-home {
            margin-right: 0; }
          .glovalNav > ul > li > a:after {
            position: absolute;
            content: "▲";
            bottom: 0;
            line-height: 0;
            left: 48%;
            color: #F9F4EF !important;
            visibility: hidden;
            opacity: 0; }
        .glovalNav > ul > li.current > a {
          color: #F17D9E; }
          .glovalNav > ul > li.current > a:after {
            color: #F9F4EF; }
        .glovalNav > ul > li + li > a {
          padding-left: 2rem; }
          .glovalNav > ul > li + li > a:before {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -10px;
            content: url(../images/common/nav_separate.svg); }
        .glovalNav > ul > li ul {
          -webkit-transition: 0.3s;
          transition: 0.3s;
          visibility: hidden;
          opacity: 0;
          left: 0;
          text-align: center;
          border-radius: 5px;
          width: 100%;
          background: #F9F4EF;
          position: absolute; }
          .glovalNav > ul > li ul li {
            font-size: 1.6rem;
            padding-top: 1.7rem;
            padding-bottom: 1.7rem;
            display: inline-block;
            font-weight: normal; }
            .glovalNav > ul > li ul li .fa {
              display: none; }
            .glovalNav > ul > li ul li a {
              color: #7F2B52; }
            .glovalNav > ul > li ul li + li:before {
              margin-right: 1rem;
              content: "｜"; }
        .glovalNav > ul > li.havechild:hover > a:after, .glovalNav > ul > li.havechild.current > a:after {
          opacity: 1;
          visibility: visible; }
        .glovalNav > ul > li.havechild:hover ul, .glovalNav > ul > li.havechild.current ul {
          opacity: 1;
          z-index: 10;
          visibility: visible; } }
  @media (max-width: 991px) {
    .glovalNav ul > li {
      font-size: 1.8rem; }
      .glovalNav ul > li > a {
        position: relative;
        border-bottom: 1px solid #FFF;
        padding: 1rem 0;
        display: block;
        color: #FFF; }
      .glovalNav ul > li small {
        margin-left: 0.5rem;
        font-size: 1rem; }
      .glovalNav ul > li .fa-angle-down, .glovalNav ul > li .fa-angle-right {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -0.9rem; }
      .glovalNav ul > li > ul li a {
        border-bottom: 1px dotted #7F2B52;
        color: #7F2B52; }
      .glovalNav ul > li > ul li:last-child a {
        border-bottom: 1px solid #FFF; }
    .glovalNav ul ul {
      display: none; } }

@media (max-width: 991px) {
  .spNav {
    display: none;
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #F17D9E; } }

.spNavbutton {
  position: absolute;
  right: 15px;
  top: 0; }
  .spNavbutton > * {
    margin-top: 10px;
    margin-left: 10px;
    float: right; }

.bannerList {
  margin-top: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*上下中央*/
  -webkit-align-items: center; }
  .bannerList li {
    width: 100%;
    display: table;
    line-height: 1.4;
    font-size: 1.8rem;
    margin-top: 2rem; }
    .bannerList li:before {
      height: 100%;
      z-index: 0;
      bottom: -0.8rem;
      left: 7%;
      content: "";
      display: block;
      position: absolute;
      width: 86%;
      text-align: center;
      border-radius: 5px;
      background: #F17D9E; }
    .bannerList li a {
      width: 100%;
      vertical-align: middle;
      height: 100px;
      z-index: 1;
      background: #FFF;
      position: relative;
      padding: 2rem;
      display: table-cell;
      border: 1px solid #F17D9E;
      border-radius: 5px; }
      .bannerList li a:after {
        line-height: 1;
        font-family: 'FontAwesome';
        top: 50%;
        color: #F17D9E;
        margin-top: -0.8rem;
        right: 5%;
        position: absolute;
        content: "\f105"; }
      .bannerList li a .icon {
        margin-right: 1rem;
        float: left;
        font-size: 3rem;
        color: #F17D9E; }
    @media (max-width: 767px) {
      .bannerList li {
        font-size: 2rem; } }

.navButton {
  border-radius: 4px;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  background: #F17D9E;
  color: #FFF;
  border: none;
  line-height: 1;
  font-size: 1rem;
  width: 52px;
  text-align: center;
  height: 52px; }
  .navButton:link, .navButton:visited, .navButton:hover, .navButton:active {
    color: #FFF; }
  .navButton .fa {
    margin-right: 0;
    font-size: 3rem; }
  .navButton span {
    margin-top: 3px;
    display: block; }
  .navButton.white {
    background: #FFF;
    color: #F17D9E; }

.glovalFooter {
  font-size: 1.6rem; }

.footerNav {
  margin-top: 2rem;
  text-align: center; }
  .footerNav li {
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: inline-block; }
    .footerNav li a:before {
      font-family: 'FontAwesome';
      content: "\f105";
      color: #F17D9E;
      margin-right: 0.5rem; }

.copyright {
  font-size: 1.4rem;
  color: #d7174e;
  display: block;
  padding: 4rem 0;
  font-family: "Rounded Mplus 1c", "游ゴシック", YuGothic, "Noto Sans Japanese", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; }

.newsList dt {
  color: #7F2B52;
  padding-top: 1rem; }

.newsList dd {
  border-bottom: 1px dotted #F17D9E;
  padding-bottom: 1rem; }
  .newsList dd a {
    display: inline-block;
    text-indent: -0.8em;
    margin-left: 1em; }
    .newsList dd a:before {
      font-family: 'FontAwesome';
      content: "\f105";
      color: #7F2B52;
      margin-right: 0.5rem; }

@media (min-width: 768px) {
  .newsList dt {
    padding-bottom: 1rem;
    float: left;
    left: left;
    width: 90px; }
  .newsList dd {
    padding-top: 1rem;
    padding-left: 100px; } }

.pageTitle {
  margin-top: 4rem;
  position: relative;
  line-height: 1.4;
  text-align: center;
  font-size: 4.2rem;
  font-weight: normal;
  color: #7F2B52; }
  .pageTitle:before {
    z-index: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    content: "";
    display: block;
    height: 1px;
    background: #DDD; }
  .pageTitle small {
    font-family: "Rounded Mplus 1c", "游ゴシック", YuGothic, "Noto Sans Japanese", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    display: block;
    font-size: 1.4rem;
    color: #F17D9E; }
  .pageTitle span {
    position: relative;
    z-index: 1;
    background: #FFF;
    display: inline-block;
    padding-right: 2rem;
    padding-left: 2rem; }

.entryHeader {
  margin-top: 3rem; }
  @media (max-width: 991px) {
    .entryHeader {
      margin-top: 3rem !important; } }

.breadclumbs {
  font-size: 1.4rem;
  text-align: right; }
  .breadclumbs li {
    line-height: 1.4;
    display: inline-block; }
    .breadclumbs li + li {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px solid #DDD; }
    .breadclumbs li a {
      color: #DDD; }

.entryContents ul, .entryContents ol, .entryContents figure {
  margin-top: 2rem; }

.headline1 {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 7rem; }
  .headline1:after {
    display: block;
    content: "";
    width: 60px;
    margin-right: auto;
    margin-left: auto;
    height: 3px;
    margin-top: 0.5rem;
    background: #F17D9E;
    font-weight: bold; }

.headline2 {
  margin-top: 5rem;
  font-size: 2.4rem;
  padding: 1rem 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD; }
  .headline2:first-letter {
    color: #F17D9E; }

.headline3 {
  line-height: 1.6;
  margin-top: 3.5rem;
  font-size: 2.2rem;
  color: #7F2B52;
  border-left: #7F2B52 3px solid;
  padding-left: 10px; }

.headline4 {
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  color: #F17D9E;
  border-bottom: 1px dotted #F17D9E; }

.lead1 {
  margin-top: 3.5rem;
  font-size: 2.6rem;
  color: #F17D9E;
  line-height: 1.6;
  font-weight: normal; }

.homeHeadline1 {
  line-height: 1.4;
  text-align: center;
  font-size: 3.8rem;
  font-weight: normal;
  margin-top: 2rem;
  font-family: "Rounded Mplus 1c", "游ゴシック", YuGothic, "Noto Sans Japanese", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; }
  .homeHeadline1 .en {
    display: block;
    color: #F17D9E;
    font-size: 1.2rem; }
  .homeHeadline1-inner {
    display: inline-block;
    position: relative; }
    .homeHeadline1-inner:before {
      position: absolute;
      content: url(../images/common/headline_left.svg);
      left: -130px;
      top: 50%;
      margin-top: -20px; }
    .homeHeadline1-inner:after {
      position: absolute;
      content: url(../images/common/headline_right.svg);
      right: -130px;
      top: 50%;
      margin-top: -20px; }

.homeHeadline2 {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-top: 3rem; }

.homeHeadline3 {
  line-height: 1.5;
  margin-top: 4rem;
  font-weight: normal;
  font-size: 3.8rem;
  color: #FFF;
  font-family: "Rounded Mplus 1c", "游ゴシック", YuGothic, "Noto Sans Japanese", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; }
  .homeHeadline3 small {
    padding-bottom: 1rem;
    display: block;
    font-size: 1.2rem; }

.homeHeadline5 {
  color: #FFF;
  margin-top: 3rem;
  display: inline-block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  border-bottom: 3px double #FFF; }

.homeHeadline6 {
  margin-top: 1rem;
  color: #FFF; }

.listNav li {
  float: left;
  margin-right: 2rem; }

.bg1 {
  background: rgba(241, 125, 158, 0.1); }

.bg2 {
  border-radius: 3px;
  background: #F9F4EF; }

.bg3 {
  background: #F17D9E;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #F17D9E 0%, #f6abc0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #F17D9E 0%, #f6abc0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-color', endColorstr='lighten($brand-color,10%)',GradientType=1 );
  /* IE6-9 */ }

.section1 {
  margin-top: 7rem; }

.section2 {
  padding-bottom: 5rem; }

.space1 {
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem; }
  @media (max-width: 575px) {
    .space1 {
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px; } }

.space2 {
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem; }
  @media (max-width: 575px) {
    .space2 {
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px; } }

.column1 {
  margin-top: 7rem;
  padding: 0 3rem 3rem;
  border: 1px solid #F17D9E;
  border-radius: 5px; }
  .column1_headline {
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: -2rem;
    text-align: center; }
    .column1_headline span {
      display: inline-block;
      background: #FFF;
      padding-right: 2rem;
      padding-left: 2rem; }

.column2 {
  padding: 0 3rem 3rem;
  background: #F9F4EF;
  margin-top: 7rem;
  border-radius: 5px; }
  .column2:before, .column2:after {
    content: " ";
    display: table; }
  .column2:after {
    clear: both; }
  .column2_headline {
    margin-top: 3rem;
    font-weight: bold;
    color: #7F2B52;
    font-size: 2.2rem;
    text-align: center; }
    .column2_headline span {
      padding-bottom: 1rem;
      border-bottom: 1px dotted #7F2B52;
      display: inline-block; }

.highlight1 {
  color: #F17D9E; }

.highlight2 {
  background: -webkit-linear-gradient(top, transparent 65%, rgba(241, 125, 158, 0.5) 65%, rgba(241, 125, 158, 0.5) 90%, transparent 0%);
  background: linear-gradient(to bottom, transparent 65%, rgba(241, 125, 158, 0.5) 65%, rgba(241, 125, 158, 0.5) 90%, transparent 0%); }

.highlight3 {
  font-weight: bold;
  padding: 0.7rem 1rem;
  border-radius: 3px;
  background: rgba(241, 125, 158, 0.5); }

/* リンクボタン */
.btn {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .btn:hover {
    opacity: 0.7; }
  .btn-brand {
    background: #F17D9E;
    color: #FFF;
    border-radius: 3px;
    padding: 0.8rem 2.5rem; }
    .btn-brand:link, .btn-brand:visited, .btn-brand:hover, .btn-brand:active {
      color: #FFF; }
  .btn-white {
    border: 1px solid #F17D9E;
    background: #FFF;
    border-radius: 5px;
    padding: 0.8rem 2.5rem; }
    .btn-white .fa {
      color: #F17D9E; }
  .btn-subcolor {
    border-radius: 5px;
    padding: 0.8rem 2.5rem;
    background: #7F2B52;
    color: #FFF; }
  .btn-fullwidth {
    text-align: center;
    width: 100%; }
  .btn-close {
    padding: 0.8rem 2.5rem;
    width: 100%;
    text-align: center;
    border-top: 1px solid #FFF;
    color: #FFF;
    font-weight: bold; }
  .btn-notopradius {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

/* リンクボタン */
.linkSt1 a {
  text-decoration: underline; }
  .linkSt1 a:hover, .linkSt1 a:active {
    text-decoration: none; }

.linkSt1 .fa {
  color: #FFF; }

.thumbnail {
  border-radius: 5px; }

/* リスト */
.ulList li {
  background: url(../images/common/listicon.svg) no-repeat left 0.6em;
  padding-left: 15px; }
  .ulList li ul {
    margin-top: 0; }
    .ulList li ul li {
      background: url(../images/common/listicon2.svg) no-repeat left 0.6em; }

/* 番号リスト */
.olList {
  counter-reset: li; }

.olList > li {
  position: relative;
  margin-left: 1.5em; }
  .olList > li:before {
    line-height: 1.6;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2em;
    width: 1.5em;
    background: #F17D9E;
    color: #FFF;
    font-size: 1.4rem;
    border-radius: 3px;
    text-align: center; }
  .olList > li li:before {
    content: ""; }

.table {
  width: 100%; }
  .table1 {
    border: 1px solid #7F2B52; }
    .table1 thead th {
      text-align: center;
      padding: 1rem;
      background: #7F2B52;
      color: #FFF;
      border: none; }
    .table1 th {
      vertical-align: middle;
      text-align: center;
      background: #fdf0f4;
      padding: 1rem;
      border-bottom: 1px dotted #F17D9E; }
    .table1 td {
      vertical-align: middle;
      text-align: center;
      border: 1px dotted #F17D9E;
      padding: 1rem; }
    .table1 tr:first-child td {
      border-top: none; }
  .table2 th {
    padding-right: 1rem;
    white-space: nowrap;
    font-weight: normal;
    text-align: left;
    color: #7F2B52; }
  .table3 {
    width: auto;
    margin-right: auto;
    margin-left: auto; }
    .table3 th {
      padding-right: 1rem;
      color: #FFF; }
    .table3 td {
      padding-right: 1rem; }

.table-row {
  width: 100%; }
  @media (max-width: 767px) {
    .table-row th, .table-row td {
      display: block; }
    .table-row.table1 td {
      border: none; } }

/* テーブルの設定 */
.tableRow {
  width: 100%; }
  @media (max-width: 575px) {
    .tableRow th, .tableRow td {
      display: block; } }

.parentBox {
  position: relative; }

/* =========================================================
area style
========================================================= */
.nurseArea {
  z-index: 3;
  background: url(../images/common/reborn_bg.svg) no-repeat right 30% bottom; }

.nurse {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0; }
  @media (max-width: 767px) {
    .nurse img {
      width: 300px; } }

#map {
  min-height: 300px; }

/* =========================================================
class
========================================================= */
/* クリアフィックス */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/* マージン設定 */
.mt-none {
  margin-top: 0 !important; }

.mt-tiny {
  margin-top: 1em !important; }

.mt-small {
  margin-top: 1.5em !important; }

.mt-medium {
  margin-top: 3em !important; }

.mt-large {
  margin-top: 5em !important; }

.mt-fuge {
  margin-top: 7em !important; }

/* 連続マージン */
.list-mt-none > * {
  margin-top: 0; }

.list-mt-tiny > * {
  margin-top: 1em; }

.list-mt-small > * {
  margin-top: 1.5em; }

.list-mt-medium > * {
  margin-top: 3em; }

.list-mt-large > * {
  margin-top: 5em; }

.list-mt-fuge > * {
  margin-top: 7em; }

/* テキスト位置 */
.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

@media (min-width: 992px) {
  .lg-text-right {
    text-align: right !important; }
  .lg-text-center {
    text-align: center !important; }
  .lg-text-left {
    text-align: left !important; } }

@media (min-width: 768px) {
  .md-text-right {
    text-align: right !important; }
  .md-text-center {
    text-align: center !important; }
  .md-text-left {
    text-align: left !important; } }

@media (min-width: 576px) {
  .sm-text-right {
    text-align: right !important; }
  .sm-text-center {
    text-align: center !important; }
  .sm-text-left {
    text-align: left !important; } }

@media (min-width: 0) {
  .xs-text-right {
    text-align: right !important; }
  .xs-text-center {
    text-align: center !important; }
  .xs-text-left {
    text-align: left !important; } }

/* 太字 */
.bold {
  font-weight: bold; }

/* テキストサイズ */
.font-tiny {
  font-size: 75%; }

.font-small {
  font-size: 88%; }

.font-large {
  font-size: 120%; }

.font-huge {
  font-size: 140%; }

/* 透過用ロールオーバー用 */
.hover:hover {
  opacity: 0.7; }

/* アニメーションクラス */
.anime:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s; }

/* ※マーク */
.asterisk {
  display: block;
  margin-left: 1em;
  text-indent: -1em; }

@media (max-width: 575px) {
  .table-row th, .table-row td {
    display: block; } }

@media (max-width: 575px) {
  .table-responsive {
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive th, .table-responsive td {
      display: table-cell; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
    .table-responsive:after {
      font-size: 1.4rem;
      content: "※この表は指で横にスクロールできます"; } }

/* 周り込figure */
.figureR {
  float: right;
  margin: 2em 0 0 2rem; }

.figureL {
  float: left;
  margin: 2em 2rem 0 0; }

.figureR, .figureL {
  display: table;
  width: 1px; }
  .figureR figcaption, .figureL figcaption {
    font-size: 86%;
    text-align: center;
    margin-top: 0.5em; }
  .figureR img, .figureL img {
    max-width: inherit; }
  @media (max-width: 575px) {
    .figureR, .figureL {
      display: block;
      text-align: center;
      width: inherit;
      float: none;
      margin-right: 0;
      margin-left: 0; } }

/* youtubeのレスポンシブ対応 */
.youtube {
  margin-top: 1em;
  position: relative;
  width: 100%;
  padding-top: 56.25%; }
  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important; }

/* =========================================================
print style
========================================================= */
/* プリント用のスタイル */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: uderline; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; } }
